html, body{
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  background-image: linear-gradient(to right, rgb(86, 244, 66), rgb(56, 107, 43));
}

#intro{
  width:1750px;
  height:800px;
  background-color: white;


margin-left: auto;
margin-right: auto;
margin-top: 79px;
margin-bottom: auto;
border-radius: 0.5%;

}
ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    top: 20px;
    right: 180px;
    padding: 0;
    overflow: hidden;


}

li {
    float: right;
}

li a {
    display: block;
    color: #7e848c ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;


}

li a:hover:not(.active) {

     border-bottom: 2px solid  orange ;



}
.logo{
  float: left;
  font-size: 30px;
  position: relative;
  top: 10px;
  margin-left: 150px;


}
.menu{
  position: relative;
}

.tulisan_1{
  float: left;
  margin-top: 80px;
  margin-left: 150px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
  width: 100%;
  color: #bc922f;
   font-stretch: extra-expanded;
}
